body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: var(--c-blue);
    color: #fff;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e0e0e0;
}
